body {
	margin: 10px;
	border: 1px solid gray;
}

nav {
	margin: 10px;
	border: 1px solid gray;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

.froggrid {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	width: 55%;
}

@media only screen and (max-width: 600px) {
	nav {
		margin: 10px;
		border: 1px solid gray;
		display: grid;
		grid-template-columns: auto;
	}

	.froggrid {
		display: grid;
		grid-template-columns: auto;
	}

	main[id=regi] {
		padding: 10px;
		margin: 10px;
		display: grid;
		grid-template-columns: auto;
	}

	
}

@media only screen and (min-width: 900px) {
	main {
		padding: 10px;
		margin: 10px;
		display: grid;
		grid-template-columns: 3fr 1fr;
	}
	
	.stats {
		border: 1px solid gray;
		padding: 10px;
	}

	main[id=regi] {
		padding: 10px;
		margin: 10px;
		display: grid;
		grid-template-columns: auto auto auto;
	}
}

input[id=navi] {
	background-color: black;
	color: white;
	border: none;
	text-align: center;
	padding: 7px;
	margin: 4px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

input[id=navi]:hover {
	color:black;
	background-color: white;
}

input[id=navi]:disabled {
	color: black;
	background-color: brown;
}


main {
	padding: 15px;
}

footer {
	text-align: center;
}