<header>
    <nav>
        <form action="index.php" method="post">
            <input id="navi" type="submit" name="allstats" value="All Stats" />
        </form>
        <form action="index.php" method="post">
            <input id="navi" type="submit" name="gg" value="Guess Game" />
        </form>
        <form action="index.php" method="post">
            <input id="navi" type="submit" name="rps" value="Rock Paper Scissors" />
        </form>
        <form action="index.php" method="post">
            <input id="navi" type="submit" name="frogs" value="Frogs" />
        </form>
        <form action="index.php" method="post">
            <input id="navi" type="submit" name="profile" value="Profile" />
        </form>
        <form action="index.php" method="post">
            <input id="navi" type="submit" name="logout" value="Logout" />
        </form>
    </nav>
</header>